[user]
	email = ed.robinson@reevoo.com
	name = Ed Robinson
[color]
	diff = auto
	branch = auto
	status = auto
[mergetool]
	keepBackup = true
[git-up "bundler"]
	check = true
  autoinstall = true
[core]
	excludesfile = ~/.gitignore_global
[push]
  default = current
